.swift-code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.codebin {
    width: 100%;
}

.vspace1 {
    margin-top: 1em;
}

h4 {
    border-bottom: 1px solid #ccc;
}

.table-tight tr {
    height: 120%;
}


/*
 *
 */

.edit-in-place span {
    cursor: pointer;
}

.edit-in-place input {
    display: none;
}

.edit-in-place.active span {
    display: none;
}

.edit-in-place.active input {
    display: inline-block;
}


