.swift-code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.codebin {
    width: 100%;
}

.vspace1 {
    margin-top: 1em;
}

h4 {
    border-bottom: 1px solid #ccc;
}

.table-tight tr {
    height: 120%;
}