<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div class="jumbotron">
    <h1>Swiftify</h1>

    <p>Generate Swift model classes from example JSON data.</p>
</div>

<h2>Usage</h2>

<ol>
    <li>Go to <b><a href="#/json">JSON</a></b> tab, and paste valid JSON object. You can use provided examples to see how it works.</li>
    <li>Go to <b><a href="#/code">Generated Code</a></b> and copy-paste classes to your project.</li>
</ol>

<p>With Swiftify you can get any JSON response from web service you want to interact with, and generate Swift model
    classes. This tool has been inspired by <a href="https://itunes.apple.com/us/app/objectify/id435651677?mt=12">Objectify</a>
    app, whose development has, sadly, stopped.</p>

<p>Swiftify is single-page web application written in JavaScript using <a href="http://angularjs.org">AngularJS</a> toolkit. It runs here, in your browser.</p>


<h2>Features</h2>

<ul>
    <li>Uses <a href="https://github.com/SwiftyJSON/SwiftyJSON">SwiftyJSON</a> for reading JSON as safe bet. Other parsers may be
        supported in future.</li>
    <li>Generates classes for nested objects.</li>
    <li>Infer numeric data type from example, <code>Double</code> or <code>Int</code>, depending on number has
        fractional part, or not.</li>
    <li>Generates type-safe Swift arrays of nested objects or primitive types.</li>
    <li>Objects are deserialized in <code>init(json: JSON)</code> initializer or custom function named by user.</li>
    <li>Generated field and class names can be changed to your convenience.</li>
</ul>

<h2>TODOs</h2>
<ul>
    <li>Support array as top level JSON object.</li>
    <li>Customize mapping during generation: use struct, manually select Int or Double type.</li>
    <li>Prevent from using Swift reserved words as identifiers.</li>
    <li>Add function to generate JSON from object.</li>
</ul>

<h2>Author</h2>

<p>Swiftify was conceived and developed by <a href="https://twitter.com/tomekcejner">Tomek Cejner</a>, mobile developer,
    hacker, maker and father.</p>

<p>Follow me on Twitter as <a href="http://twitter.com/tomekcejner">@tomekcejner</a></p>

<p>Any ideas and contributions are welcome. Feel free to <a href="https://github.com/Swiftify/swiftify.github.io">fork
    me on GitHub</a>.</p>

<h3>Fine print</h3>
<p>Swiftify comes with no warranty whatsoever. Use it at your own risk.</p>
</body>
</html>