<div class="row">
    <div class="col-md-3">
        <h4>Options</h4>

        <form class="form-group">
            <label for="rootClass">Root class name</label>
            <input id="rootClass" type="text" class="form-control" value="MyClass" ng-model="data.rootClass">

            <!--<label for="prefix">Class name prefix</label>-->
            <!--<input id="prefix" type="text" class="form-control" value="MyClass" ng-model="data.prefix">-->

        </form>


    </div>
    <div class="col-md-9">
        <h4>Generated code</h4>
        <textarea class="swift-code codebin" ng-model="generated" cols="50" rows="50"></textarea>
    </div>

</div>
