<div class="row">
    <div class="col-md-4">
        <h4>Options</h4>

        <form>
            <div class="form-group">
                <label for="rootClass">Root class name</label>
                <input id="rootClass" type="text" class="form-control" value="MyClass" ng-model="data.rootClass">
            </div>

            <div class="form-group">
                <label for="prefix">Class name prefix</label>
                <input id="prefix" type="text" class="form-control" value="MyClass" ng-model="data.prefix">
            </div>


            <div class="radio">
                <label>
                    <input type="radio" name="decodeWhere" id="decodeWhere1" value="init" ng-model="data.decodeIn">
                    Deserialize in initializer
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="decodeWhere" id="decodeWhere2" value="method" ng-model="data.decodeIn">
                    Deserialize in custom method
                    <input type="text" id="decodeMethod" ng-model="data.decodeMethodName" placeholder="Method name" ng-show="data.decodeIn=='method'">
                </label>
            </div>

        </form>

        <h4>Fine tuning</h4>

        <div ng-repeat="c in classes">
            <h5>{{c.className}}</h5>

            <table>
                <tr ng-repeat="f in c.fields">
                    <td>{{f.fieldName}}</td><td>{{f.dataType}}</td>
                </tr>
            </table>

        </div>

    </div>
    <div class="col-md-8">
        <h4>Generated code</h4>
        <textarea class="swift-code codebin" ng-model="generated" cols="50" rows="50"></textarea>
    </div>

</div>
